<!DOCTYPE html>
<html lang="pt-br">
     <head>
	     <title>Borda do Universo</title>
		 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		 <link rel="stylesheet" type="text/css" href="estilos.css">
		 <link rel="icon" type="image/png" href="bdu-ship.png">
	 </head>
	 <body>
	     <div id="banner" style="left: 10vw">
		     <img src="banner-bdu.png" class="banner" style="left: 13vw"></img>
		 </div>
		 <div id="guia" style="top: 2vh; margin-left: 10vw">
		     <table style="border-spacing: 0px">
			 <tr>
			 <td>
			 <ul style="margin: 0px">
			     <li class="guia-list" style="left: 10px"><p class="link-guia">Link 1</p></li>
				 <li class="guia-middle" style="left: 10px"><p class="link-guia-middle">Link 2</p></li>
				 <li class="guia-list" style="left: 10px"><p class="link-guia">Link 3</p></li>
			 </ul>
			 </td>
			 <td style="padding-left: 9vw">
			 <form method="POST" name="myform" class="busca-post">
			    <table class="table-busca-post">
				  <tr>
					<td><label><p class="label-busca-post">Busca</p></label></td>
			      </tr>
				  <tr>
					<td><input type="text" name="busca-post" class="nome-busca"></td>
					<td><input type="button" name="btn-busca-post" class="btn-busca-post" value="GO"></td>
				  </tr>
				</table>
			 </form>
			 </tr>
			 </table>
			 
		 </div>
		 <div id="conteudo">
		    <table>
			    <tr style="display: table-row">
				    <td rowspan="3">
					    <div class="prev-img" style="height: 82vh; width: 29vw">
						<img src="tyson.jpg" style="width: 29vw;height:82vh;"></img>
					        <div class="prev-desc" style="width: 29vw;height:32vh;top:55%">
							<p class="desc">
							Como cosmos mudou a forma que olho para o mundo
							</p></div>
					    </div>
					</td>
					<td>
					    <div class="prev-img" style="height: 35vh; width: 40vw">
						<img src="s-solar.jpeg" style="width: 40vw;height:35vh;"></img>
					        <div class="prev-desc" style="width: 40vw;height:10vh;top:58%">
							<div class="desc" style="font-size: larger;font-weight: bold;">
							Todos sabem que os planetas se movem ao redor do sol, mas você sabe o porquê?
							</div>
							</div>
					    </div>
					</td>
				</tr>
                <tr style="display: inline-block">
				    <td>
					    <div class="prev-img" style="height: 24vh; width: 15vw">
						<img src="s-solar.jpg" style="width: 15vw;height:24vh;"></img>
					        <div class="prev-desc" style="width: 15vw;height:10vh;top:58%">
							<div class="desc" style="font-size: larger;font-weight: bold;">
							Teste teste teste 
							</div>
							</div>
					    </div>
					</td>
					<td>
					    <div class="prev-img" style="height: 24vh; width: 13vw">
					        <div class="prev-desc" style="width: 13vw;height:10vh;top:58%"></div>
					    </div>
					</td>
					<td>
					    <div class="prev-img" style="height: 24vh; width: 13vw">
					        <div class="prev-desc" style="width: 13vw;height:10vh;top:58%"></div>
					    </div>
					</td>
				</tr>
                <tr style="display: inline-block">
				    <td>
					    <div class="prev-img" style="height: 24vh; width: 20vw">
					        <div class="prev-desc" style="width: 20vw;height:10vh;top:58%"></div>
					    </div>
					</td>
					<td>
					    <div class="prev-img" style="height: 24vh; width: 20vw">
					        <div class="prev-desc" style="width: 20vw;height:10vh;top:58%"></div>
					    </div>
					</td>
				</tr>				
			</table>
		 </div>
	 </body>
</html>