<td style="padding: 0px">
			    <form method="POST" name="myform" class="busca-post">
			    <table class="table-busca-post">
				  <tbody><tr>
					<td><label><p class="label-busca-post">Busca</p></label></td>
			      </tr>
				  <tr>
					<td><input type="text" name="busca-post" class="nome-busca" placeholder="O que procura, viajante?"></td>
					<td><input type="button" name="btn-busca-post" class="btn-busca-post" value="GO"></td>
				  </tr>
				</tbody></table>
			 </form>
			</td>