body {
	width: 1349px;
}
p {
	font-family: Consolas, Century Gothic, sans-serif;
}

#banner {
	display: inline-block;
	border: 0px;
	position: relative;
	background-color: black;
	width: 1349px;
	/* z-index: 2; */
}
.banner {	
	height: 331px;
    position: relative;
	left: 311px;
}

#guia {
	width: 1349px;
    overflow: hidden;
    z-index: 2;
    height: 75px;
    background-color: rgb(248, 238, 18);
    margin-bottom: 20px;
}


#guia ul {
	padding: 0px;
    border-radius: 20px;
    display: inline-block;
    background-color: inherit;
    list-style: none;
    height: inherit;
    position: relative;
    left: 156.51px;
}
#guia li {
	display: inline-block;
	background-color: inherit;
	position: relative;
	height: inherit;
}

.guia-list {
	width: 203.89px;
    height: 50px;
}

.link-guia {
	text-align: center;
	color: black;
	font-size: 23px;
	text-align: center;
	font-family: fantasy;
	margin: 0px;
	position: relative;
	top: 25%;
}
.busca-post {
	width: 237.88px;
	height: 75px;
	background-color: #efef25;
}

.table-busca-post {
	border-spacing: 0px;
	position: relative;
	top: 10px;
    left: 10px;
}
.label-busca-post {
	color: black;
	margin: 0px;
}
.nome-busca {
	width: 163.91px;
    height: 19.86px;
    border-style: hidden;
    border-radius: 5px;
    margin-top: 14px;
    font-family: Consolas;
	font-size: 12px;
}
.nome-busca:focus {
	box-shadow: 0px 0px 6px 5px rgba(161, 49, 183, 0.72);
    outline-color: rgba(204, 20, 241, 0.96);
	outline-width: thick;
	
}
.btn-busca-post {
	position: relative;
	top: 5px;
	margin-left: 10px;
	width: 40px;
	height: 32px;
	background-color: #a24c71;
	border-style: outset;
	border-radius: 8px;
	border-color: rgb(162, 76, 113);
	outline: none;
	font-family: Consolas;
	font-weight: bold;
}
.btn-busca-post:active {
	border-style: inset;
	font-size: 12px;
}

#conteudo {
	width: 855px;
	padding: 0px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	left: 10px;
}

.img-capa {
	width: 12vw;
	height: 31vh;
	display: table-cell;
}
.prev-img {
	position: relative;
	background-color: pink;
}

.prev-desc {
	position: absolute;
	background-color: rgba(0,0,0,.7);
}
.desc {
	color: white;
	font-family: Consolas;
	font-size: xx-large;
	text-align: justify;
}

#menu-hor {
	height: 331px;
    width: 253px;
    background-color: blue;
    display: inline-block;
    position: relative;
    float: right;
	right: 17px;
    top: 3px;
}

.base-post {
	width: inherit;
    height: 473px;
    overflow: hidden;
    margin-bottom: 50px;
}
.img-post {
	width: inherit;
	display: inline-block;
	position: relative;
	z-index: -1;
	bottom: 307px;
}
.tag-name {
	width: inherit;
	height: 46px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: black;
}
.title-post {
	position: relative;
	width: inherit;
	background-color: black;
	top: 30%;
	height: 95px;
	z-index: 2;
}
.ico-autor {
	height: 80;
	width: 80;
	display: inline-block;
	position: relative;
	border-radius: 85px;
	z-index: 2;
	background-color: yellow;
	left: 10px;
	top: 8px;
}
.img-autor {
	height: 70px;
    position: relative;
    left: 23px;
    top: 5px;
}
.desc-post {
	width: inherit;
	height: 190px;
	background-color: rgba(255,255,255,0.5);
	position: relative;
	z-index: 2;
	top: 30%;
}
.prev-title {
	font-family: Calibri;
    color: white;
    font-size: 28px;
    text-align: justify;
    margin: 10px auto;
    position: absolute;
    margin-left: 18px;
    word-wrap: break-word;
    display: inline-block;
}
.prev-tag {
	color: white;
    font-size: 28px;
    text-align: justify;
    margin: 0px;
    position: relative;
    left: 14px;
    top: 4px;
    display: inline-block;
}
.dot-tag {
	height: 15px;
    width: 15px;
    border-radius: 30px;
    position: relative;
    top: 4px;
    left: 8px;
    display: inline-block;
    background-color: purple;
}
.desc-text {
	font-size: 22px;
	text-align: justify;		
}
.area {
	width: inherit;
	height: 60px;
	background-color: inherit;
	position: relative;
	top: 8px;
}
#guia li:hover {
	background-color: rgb(249, 228, 94);
}