<div id="content">
	<div class="prev">

    <!-- P1 -->
    <div class="prev-tag">
			<a href="#">{{tag1}}</a>
			<p class="date">{{dt1}}</p>
		</div>
		<h2>
			<a href="#">{{t1}}</a>
			<img src=
      {{i1}}
      >
		</h2>
		<div class="prev-bloco-texto">
			<p>{{d1}}</p>
			<a href="#">(...)</a>
		</div>
	</div>

  <!-- P2 -->
  <div class="prev">
		<div class="prev-tag">
			<a href="#">{{tag2}}</a>
			<p class="date">{{dt2}}</p>
		</div>
		<h2>
			<a href="#">{{t2}}</a>
			<img src=
      {{i2}}
      >
		</h2>
		<div class="prev-bloco-texto">
			<p>{{d2}}</p>
			<a href="#">(...)</a>
		</div>
	</div>

  <!-- P3 -->
  <div class="prev">
		<div class="prev-tag">
			<a href="#">{{tag3}}</a>
			<p class="date">{{dt3}}</p>
		</div>
		<h2>
			<a href="#">{{t3}}</a>
			<img src=
      {{i3}}
      >
		</h2>
		<div class="prev-bloco-texto">
			<p>{{d3}}</p>
			<a href="#">(...)</a>
		</div>
	</div>

  <!-- P4 -->
  <div class="prev">
		<div class="prev-tag">
			<a href="#">{{tag4}}</a>
			<p class="date">{{dt4}}</p>
		</div>
		<h2>
			<a href="#">{{t4}}</a>
			<img src=
      {{i4}}
      >
		</h2>
		<div class="prev-bloco-texto">
			<p>{{d4}}</p>
			<a href="#">(...)</a>
		</div>
	</div>

  <!-- P5 -->
  <div class="prev">
		<div class="prev-tag">
			<a href="#">{{tag5}}</a>
			<p class="date">{{dt5}}</p>
		</div>
		<h2>
			<a href="#">{{t5}}</a>
			<img src=
      {{i5}}
      >
		</h2>
		<div class="prev-bloco-texto">
			<p>{{d5}}</p>
			<a href="#">(...)</a>
		</div>
	</div>

</div>
