<div id="conteudo">
		    <table>
			    <tbody>
				<tr style="display: table-row;">
				    <td rowspan="3">
					    <div class="prev-img" style="height: 562.69px;width: 396.13px;">
					        <div class="prev-desc" style="width: 396.13px;height:211.83px;top: 62%;">
							<p class="desc">
							Como cosmos mudou a forma que olho para o mundo
							</p></div>
					    </div>
					</td>
					<td>
					    <div class="prev-img" style="height: 231.69px;width: 654px;margin-left: 2px;">
					        <div class="prev-desc" style="width: inherit;height: 83.19px;top: 64%;">
							<div class="desc" style="font-size: larger;font-weight: bold;">
							Todos sabem que os planetas se movem ao redor do sol, mas você sabe o porquê?
							</div>
							</div>
					    </div>
					</td>
				</tr>
                <tr style="display: inline-block;width: 654px;">
				    <td>
					    <div class="prev-img" style="height: 158.88px;width: 215px;">
						
					        <div class="prev-desc" style="width: inherit;height:66.19px;top:58%;">
							<div class="desc" style="font-size: larger;font-weight: bold;">
							Teste teste teste 
							</div>
							</div>
					    </div>
					</td>
					<td>
					    <div class="prev-img" style="height: 158.88px;width: 215px;">
						
					        <div class="prev-desc" style="width: inherit;height:66.19px;top:58%;">
							<div class="desc" style="font-size: larger;font-weight: bold;">
							Teste teste teste 
							</div>
							</div>
					    </div>
					</td>
					<td>
					    <div class="prev-img" style="height: 158.88px;width: 215px;">
						
					        <div class="prev-desc" style="width: inherit;height:66.19px;top:58%;">
							<div class="desc" style="font-size: larger;font-weight: bold;">
							Teste teste teste 
							</div>
							</div>
					    </div>
					</td>
				</tr>
                <tr style="display: inline-block">
				    <td>
					    <div class="prev-img" style="height: 158.88px;width: 323.5px;">
					        <div class="prev-desc" style="width: inherit;height:66.19px;top:58%;"></div>
					    </div>
					</td>
					<td>
					    <div class="prev-img" style="height: 158.88px;width: 323.5px;">
					        <div class="prev-desc" style="width: inherit;height: 66.19px;top:58%;"></div>
					    </div>
					</td>
				</tr>				
			</tbody></table>
		 </div>