<div id="content">
	<div class="prev">

    <!-- P1 -->
    <div class="prev-tag">
			<a href="#">{{tag1}}</a>
			<p class="date">{{dt1}}</p>
		</div>
		<h2>
			<a href="#">{{t1}}</a>
			<img src=
      {{i1}}
      >
		</h2>
		<div class="prev-bloco-texto">
			<p>{{d1}}</p>
			<a href="#">(...)</a>
		</div>
	</div>

  <!-- P2 -->
  <div class="prev">
		<div class="prev-tag">
			<a href="#">{{tag2}}</a>
			<p class="date">{{dt2}}</p>
		</div>
		<h2>
			<a href="#">{{t2}}</a>
			<img src=
      {{i2}}
      >
		</h2>
		<div class="prev-bloco-texto">
			<p>{{d2}}</p>
			<a href="#">(...)</a>
		</div>
	</div>

  <!-- P3 -->
  <div class="prev">
		<div class="prev-tag">
			<a href="#">{{tag3}}</a>
			<p class="date">{{dt3}}</p>
		</div>
		<h2>
			<a href="#">{{t3}}</a>
			<img src=
      {{i3}}
      >
		</h2>
		<div class="prev-bloco-texto">
			<p>{{d3}}</p>
			<a href="#">(...)</a>
		</div>
	</div>

  <!-- P4 -->
  <div class="prev">
		<div class="prev-tag">
			<a href="#">{{tag4}}</a>
			<p class="date">{{dt4}}</p>
		</div>
		<h2>
			<a href="#">{{t4}}</a>
			<img src=
      {{i4}}
      >
		</h2>
		<div class="prev-bloco-texto">
			<p>{{d4}}</p>
			<a href="#">(...)</a>
		</div>
	</div>

  <!-- P5 -->
  <div class="prev">
		<div class="prev-tag">
			<a href="#">{{tag5}}</a>
			<p class="date">{{dt5}}</p>
		</div>
		<h2>
			<a href="#">{{t5}}</a>
			<img src=
      {{i5}}
      >
		</h2>
		<div class="prev-bloco-texto">
			<p>{{d5}}</p>
			<a href="#">(...)</a>
		</div>
	</div>

</div>
<script src="App/Templates/js/postController.js"></script>

<div id="menu-v">
	<div id="profile">
		<div class="label"><p>Autor</p></div>
		<div class="picture"><img src="App/Images/profile.jpg"></div>
		<hr></hr>
		<p class="name">Flávio Jr</p>
		<hr></hr>
		<p>Um jedi perdido nos códigos da Matrix</p>
		<div class="social-media">
			<a href="http://facebook.com/bordadouniverso" target="_blank"><img src="App/Images/facebook.png"></a>
			<a href="http://facebook.com/bordadouniverso" target="_blank" id="texto">/bordadouniverso</a>
		</div>
		<div class="social-media">
			<a href="https://twitter.com/bordadouniverso" target="_blank"><img src="App/Images/twitter.png"></a>
			<a href="https://twitter.com/bordadouniverso" target="_blank" id="texto">/bordadouniverso</a>
		</div>
		<div class="social-media">
			<a href="https://instagram.com/bordadouniverso" target="_blank"><img src="App/Images/instagram.png"></a>
			<a href="https://instagram.com/bordadouniverso" target="_blank" id="texto">/bordadouniverso</a>
		</div>
	</div>
	<div id="ads">
		<hr></hr>
		<p> Anunciante </p>
		<hr></hr>
		<a href="#"><img src="App/Images/ads/guarana.png"></a>
		<a href="#"><img src="App/Images/ads/oi.jpg"></a>
	</div>
</div>
