<html lang="pt-br">
     <head>
	     <title>Borda do Universo</title>
		 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		 <link rel="stylesheet" type="text/css" href="estilos.css">
		 <link rel="icon" type="image/png" href="bdu-ship.png">
	 </head>
	 <body style="margin:0px">
	     <div id="banner">
		     <img src="banner-bdu.png" class="banner">
		 </div>
		 <div id="guia">
			 <ul style="margin: 0px">
			     <li class="guia-list"><div class="area" style="border-right: 2px solid black"><p class="link-guia">Home</p></div></li>
				 <li class="guia-list">
				         <div class="area" style="border-right: 2px solid black"><p class="link-guia">Análises</p></div>
				 </li>
				 <li class="guia-list">
				         <div class="area" style="border-right: 2px solid black"><p class="link-guia">Notícias</p></div>
				 </li>
				 <li class="guia-list">
				         <div class="area" style="border-right: 2px solid black"><p class="link-guia">Histórias</p></div>
				 </li>
				 <li class="guia-list">
				         <div class="area"><p class="link-guia">Entretenimento</p></div>
				 </li>
			 </ul>
		 </div>
		 <div id="conteudo">
		    <div class="base-post">
			    <div class="tag-name">
				    <div class="dot-tag"></div>
				    <p class="prev-tag">Análise</p>
				</div>
				<div class="title-post">
				    <div class="ico-autor">
					    <img src="flv.png" class="img-autor"></img>
				    </div>
					<p class="prev-title">Reboot de filmes do século XX, nostalgia ou lucro sobre os nostálgicos?</p>
				</div>
				<div class="desc-post">
				    <p class="desc-text">A in asd asl l jasd jasdl lamsd kasdj as l</p>
				</div>
				<img src="jw.jpg" class="img-post"></img>
			</div>
			
			<div class="base-post">
			    <div class="tag-name">
				    <div class="dot-tag"></div>
				    <p class="prev-tag">Análise</p>
				</div>
				<div class="title-post">
				    <div class="ico-autor">
					    <img src="flv.png" class="img-autor"></img>
				    </div>
					<p class="prev-title">Reboot de filmes do século XX, nostalgia ou lucro sobre os nostálgicos?</p>
				</div>
				<div class="desc-post">
				    <p class="desc-text">A in asd asl l jasd jasdl lamsd kasdj as l</p>
				</div>
				<img src="jw.jpg" class="img-post"></img>
			</div>
			
			
			<div class="base-post">
			    <div class="tag-name">
				    <div class="dot-tag"></div>
				    <p class="prev-tag">Análise</p>
				</div>
				<div class="title-post">
				    <div class="ico-autor">
					    <img src="flv.png" class="img-autor"></img>
				    </div>
					<p class="prev-title">Reboot de filmes do século XX, nostalgia ou lucro sobre os nostálgicos?</p>
				</div>
				<div class="desc-post">
				    <p class="desc-text">A in asd asl l jasd jasdl lamsd kasdj as l</p>
				</div>
				<img src="jw.jpg" class="img-post"></img>
			</div>
		 </div>
		 
	 
</body>
</html>