<!--Teste -->
<div id="paginacao">
    <div class="pag-base"><a href="?&method=flip&num_page=">{{pg1}}</a></div>
    <div class="pag-base"><a href="?&method=flip&num_page=">{{pg2}}</a></div>
    <div class="pag-base"><a href="?&method=flip&num_page=">{{pg3}}</a></a></div>
    <div class="pag-base"><a href="?&method=flip&num_page=">{{pg4}}</a></div>
    <div class="pag-base"><a href="?&method=flip&num_page=">{{pg5}}</a></div>
    <div class="pag-base"><a href="?&method=flip&num_page=">{{pg6}}</a></div>
    <div class="pag-base"><a href="?&method=flip&num_page=">{{pg7}}</a></div>
    <div class="pag-base"><a href="?&method=flip&num_page=">{{pg8}}</a></div>
    <div class="pag-base"><a href="?&method=flip&num_page=">{{pg9}}</a></div>
    <div class="pag-base"><a href="?&method=flip&num_page=">{{pg10}}</a></div>
    <!-- <div class="pag-base"><a href="#">...</a></div> -->
  </div>
  <script src="App/Templates/js/pages.js"></script>
