<div id="post">
  <h1>O melhor anime da década</h1>
  <h2>16/11</h2>
  <hr></hr>
  {{content}}
</div>
<div id="most-recent">
  <hr></hr>
  <h2>Novidades</h2>
  <hr></hr>


  <div class="recent-post">
    <a href="#"><h2>O Cosmos de uma maneira jamais vista</h2></a>
    <img src="App/Images/posts/cosmos.jpg">
  </div>

  <div class="recent-post">
    <a href="#"><h2>Tittle</h2></a>
    <img src="App/Images/posts/fma.jpg">
  </div>

  <div class="recent-post">
    <a href="#"><h2>Tittle</h2></a>
    <img src="App/Images/posts/jw.jpg">
  </div>

  <div class="recent-post">
    <a href="#"><h2>Tittle</h2></a>
    <img src="App/Images/posts/sw7.jpg">
  </div>

  <div class="recent-post">
    <a href="#"><h2>Tittle</h2></a>
    <img src="App/Images/posts/cdz3.jpg"></img>
  </div>
</div>
