<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Borda do Universo</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <!-- estilos da página -->
  <link rel="stylesheet" href="App/Templates/css/estilos.css">
  <!-- css que reseta propriedades nativas do html -->
  <link rel="stylesheet" href="App/Templates/css/reset.css">
  <link rel="shortcut icon" type="image/x-icon" href="App/Images/bdu.ico">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="App/Templates/css/mobile.css" media="(max-width: 1100px)">
</head>
<body onload="trocaImagem()">
<div id="page">
<header>
  <h1> <!-- Banner com o nome do site -->
    <div id="banner">
      <img src="App/Images/banner.png">
      <form method="GET" enctype="multipart/form-data">
        <input type="search" placeholder="o que você procura?">
        <input type="button">
      </form>
    </div>
  </h1>

  <nav>
    <script src="App/Templates/js/bannerrotativo.js"></script>
    <div id="base-rotativo">
      <ul>
        <li>
          <figure style="display:none" id="1">
            <a href="#"><img src="App/Images/posts/cosmos.jpg"></a>
            <figcaption class="nome-post"><a href="#">O Cosmos de uma maneira jamais vista</a></figcaption>
          </figure>
        </li>
        <li>
          <figure style="display:none" id="2">
            <a href="#"><img src="App/Images/posts/sw7.jpg"></a>
            <figcaption class="nome-post"><a href="#">Novidades do Star Wars 8</a></figcaption>
          </figure>
        </li>
        <li>
          <figure style="display:none" id="3">
            <a href="#"><img src="App/Images/posts/cdz1.jpg"></a>
            <figcaption class="nome-post">
              <a href="#">Cavaleiros do zodíaco volta a ser exibido na Rede Brasil</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure style="display:none" id="4">
            <a href="#"><img src="App/Images/posts/jw.jpg"></a>
            <figcaption class="nome-post">
              <a href="#">Reboot de filmes do século passado: nostalgia ou lucro sobre os nostálgicos?</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure style="display:none" id="5">
            <a href="#"><img src="App/Images/posts/fma.jpg" style="position:relative;bottom:70px"></a>
            <figcaption class="nome-post"><a href="#">O melhor anime da década</a></figcaption>
          </figure>
        </li>
      </ul>
    </div>
    <div id="selection-bar">
      <ul>
        <li>
          <div class="selection" id="b1" onclick="bot(0)"></div>
        </li>
        <li>
          <div class="selection" id="b2" onclick="bot(1)"></div>
        </li>
        <li>
          <div class="selection" id="b3" onclick="bot(2)"></div>
        </li>
        <li>
          <div class="selection" id="b4" onclick="bot(3)"></div>
        </li>
        <li>
          <div class="selection" id="b5" onclick="bot(4)"></div>
        </li>
    </div>
    <div id="menu-hor">  <!-- Lista horizontal com defeito no posicionamento -->
      <ul>
        <li><a href="index.php">Home</a></li>
        <li><a href="#">Análises</a></li>
        <li><a href="#">Notícias</a></li>
        <li><a href="#">Contos</a></li>
        <li><a href="#">Entretenimento</a></li>
      </ul>
    </div>
  </nav>
</header>
<section id="main">
  {{content}}

<div id="paginacao">
    <div class="pag-base"><a href="index.php?class=Home&method=flip&num_page=1">1</a></div>
    <div class="pag-base"><a href="#">{{pg2}}</a></div>
    <div class="pag-base"><a href="#">{{pg3}}</a></a></div>
    <div class="pag-base"><a href="#">{{pg4}}</a></div>
    <div class="pag-base"><a href="#">{{pg5}}</a></div>
    <div class="pag-base"><a href="#">{{pg6}}</a></div>
    <div class="pag-base"><a href="#">{{pg7}}</a></div>
    <div class="pag-base"><a href="#">{{pg8}}</a></div>
    <div class="pag-base"><a href="#">{{pg9}}</a></div>
    <div class="pag-base"><a href="#">{{pg10}}</a></div>
    <!-- <div class="pag-base"><a href="#">...</a></div> -->
  </div>
  <script src="App/Templates/js/pages.js"></script>

</section>
<footer>
  <div id="copyright">
    <img src="App/Images/bdu-simbol.png">
    <p class="cr">&#169 Borda do Universo - Todos os direitos reservados</p>
  </div>
</footer>
</div>
</body>
</html>
